:root {
	--primary: #2cb67d;
	--secondary: #93e5ab;
}

* {
	/* border: red 0.1px solid; */
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

.checkbox {
	position: sticky;
	display: flex;
	justify-content: flex-end;
	top: 0;
	padding: 1rem;
	background-color: white;
	transition: all 0.2s ease-in-out;
}
.checkbox__text {
	padding-top: 0.3rem;
	font-size: 1.1em;
}
.checkbox__switch {
	font-size: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 1.5em;
	height: 0.8em;
	background: #ddd;
	border-radius: 3em;
	margin-left: 1rem;
	position: relative;
	cursor: pointer;
	outline: none;
	transition: all 0.2s ease-in-out;
}
.checkbox__switch:checked {
	background: var(--primary);
}
.checkbox__switch:after {
	position: absolute;
	content: "";
	width: 0.9em;
	height: 0.9em;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
	transform: scale(0.7);
	left: 0;
	bottom: -1.5px;
	transition: all 0.2s ease-in-out;
}
.checkbox__switch:checked:after {
	left: calc(100% - 0.9em);
}
.checkbox--scrolled {
	opacity: 0.4;
}

#app {
	/* padding-top: 1rem; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.header {
	grid-column: span 2;
	text-align: center;
	padding-bottom: 2rem;
	border-bottom: var(--primary) 1px solid;
	/* box-shadow: 0px 18px 16px -10px rgba(0, 0, 0, 0.75); */
}
.header__title {
	grid-column: span 2;
	justify-self: center;
}

.form-container {
	grid-column: span 2;
	justify-self: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.form {
	grid-column: span 2;
	justify-self: center;
}
.form__input {
	grid-column: span 2;
}
.form__input-field {
	border: none;
	border-bottom: #ddd solid 1px;
	margin-right: 1rem;
	outline: none;
}

.form__button {
	color: white;
	outline: none;
	padding: 0.2rem 1rem;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	box-shadow: 0 3px #999;
	background-color: var(--primary);
	user-select: none;
}
.form__button:active {
	background-color: #2aaa75;
	box-shadow: 0 1.3px #999;
	transform: translateY(1px);
}

.form__delete {
	grid-column: span 2;
	justify-self: center;
	margin-top: 1rem;
	width: 20rem;
}
.form__button--extended-width {
	margin-top: 1rem;
	width: 50%;
}

.lists-container {
	grid-column: span 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: rgb(246, 246, 246);
	/* height: 100vh; */
}
.list {
	padding-left: 0;
	margin-left: 3rem;
	margin-right: 3rem;
}
.list__header {
	text-align: center;
}
.list__item {
	display: flex;
	margin: 0.4rem 4rem;
	padding-left: 3rem;
	background-color: var(--secondary);
}
.list__item-text {
	max-width: 10em;
	margin-right: 2em;
	cursor: pointer;
	user-select: none;
}
.list__item-delete {
	align-self: center;
	border: none;
	border-radius: 50%;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	background-color: var(--secondary);
	margin-left: auto;
	margin-right: 1rem;
}
.list__item-delete:hover {
	border-radius: 50%;
	background-color: tomato;
}
.list__item--completed p {
	text-decoration-line: line-through;
}

@media only screen and (max-width: 1050px) {
	.checkbox {
		right: 0;
	}
	.list {
		margin-top: 0rem;
		grid-column: span 2;
	}
	.list__item {
		margin: 0.4rem 0rem;
		padding-left: 1rem;
	}
}
