:root {
	--primary: #2cb67d;
}

* {
	/* border: red 0.1px solid; */
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

.checkbox {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.checkbox__text {
	padding-top: 0.3rem;
	font-size: 1.1em;
}
.checkbox__switch {
	font-size: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 1.5em;
	height: 0.8em;
	background: #ddd;
	border-radius: 3em;
	margin-left: 1rem;
	position: relative;
	cursor: pointer;
	outline: none;
	transition: all 0.2s ease-in-out;
}
.checkbox__switch:checked {
	background: var(--primary);
}
.checkbox__switch:after {
	position: absolute;
	content: "";
	width: 0.9em;
	height: 0.9em;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
	transform: scale(0.7);
	left: 0;
	bottom: -1.5px;
	transition: all 0.2s ease-in-out;
}
.checkbox__switch:checked:after {
	left: calc(100% - 0.9em);
}

#app {
	padding-top: 5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.header {
	grid-column: span 2;
	justify-self: center;
}
.header__title {
	grid-column: span 2;
	justify-self: center;
}

.form-container {
	grid-column: span 2;
	justify-self: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.form {
	grid-column: span 2;
	justify-self: center;
}
.form__input {
	grid-column: span 2;
}
.form__button {
	color: white;
	outline: none;
	padding: 0.2rem 1rem;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	box-shadow: 0 3px #999;
	background-color: var(--primary);
}
.form__button:active {
	background-color: #2aaa75;
	box-shadow: 0 1.3px #999;
	transform: translateY(1px);
}

.form__delete {
	grid-column: span 2;
	text-align: center;
}
.form__button--extended-width {
	margin-top: 0.6rem;
	width: 50%;
}

.list {
	padding-left: 0;
}

.list__header {
	text-align: center;
}
.list__item {
	display: flex;
	margin-left: 3rem;
}

.list__item-text {
	min-width: 10em;
	max-width: max-content;
	margin-right: 2em;
	cursor: pointer;
	user-select: none;
}
.list__item-delete {
	align-self: center;
	border: none;
	border-radius: 50%;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	background-color: white;
}
.list__item-delete:hover {
	border-radius: 50%;
	background-color: tomato;
}
.list__item--completed {
	text-decoration-line: line-through;
}

@media only screen and (max-width: 800px) {
	.list {
		margin-top: 2rem;
		grid-column: span 2;
	}
}
